<div class="container">
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [@fadeIn]>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            reservationForm.get('name')?.invalid &&
            reservationForm.get('name')?.touched,
        }"
      />
    </div>

    <div
      *ngIf="reservationForm.get('name')?.valid"
      class="form-group"
      [@fadeIn]
    >
      <label for="surname">Surname</label>
      <input
        type="text"
        id="surname"
        formControlName="surname"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            reservationForm.get('surname')?.invalid &&
            reservationForm.get('surname')?.touched,
        }"
      />
    </div>

    <div
      *ngIf="reservationForm.get('surname')?.valid"
      class="form-group"
      [@fadeIn]
    >
      <label for="isEmployee">Employee status</label>
      <select
        id="isEmployee"
        formControlName="isEmployee"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            reservationForm.get('isEmployee')?.invalid &&
            reservationForm.get('isEmployee')?.touched,
        }"
      >
        <option value="">Select an option</option>
        <option *ngFor="let status of employeeStatuses" [value]="status.value">
          {{ status.name }}
        </option>
      </select>
    </div>

    <div
    *ngIf="reservationForm.get('isEmployee')?.value === employeeStatuses[1].value"
    class="form-group"
    [@fadeIn]
    >
        <label for="invitingEmployeeId">Enter inviting employee Id</label>
        <input
        type="text"
        id="invitingEmployeeId"
        formControlName="invitingEmployeeId"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            reservationForm.get('invitingEmployeeId')?.invalid &&
            reservationForm.get('invitingEmployeeId')?.touched,
        }"
      />
    </div>

    <div
    *ngIf="reservationForm.get('invitingEmployeeId')?.value !== ''"
    class="form-group"
    [@fadeIn]
    >
        <div>
            <input type="checkbox" #isAdult id="isAdult" />
            <label for="isAdult">I am 18+</label>
        </div>
        <label for="drink"></label>
        <select
            id="drink"
            formControlName="drink"
            class="form-control"
        [ngClass]="{
          'is-invalid':
            reservationForm.get('isEmployee')?.invalid &&
            reservationForm.get('isEmployee')?.touched,
        }">
            <option value="">Select an option</option>
            <ng-container *ngIf="isAdult.checked === true; else notAdult">
                <option *ngFor="let drink of drinks" [value]="drink.value">
                    {{ drink.name }}
                    </option>
            </ng-container>
            <ng-template #notAdult>
                <option *ngFor="let softDrink of softDrinks" [value]="softDrink.value">
                    {{ softDrink.name }}
                    </option>
            </ng-template>
        </select>
    </div>
    <ng-container *ngIf="reservationForm.get('drink')?.valid">
        <button type="submit" class="btn btn-primary" [@fadeIn]>Submit</button>
    </ng-container>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

  </form>
</div>
